.pokemon-container {
  margin-top: 120px;
}

.pokemon { 
  font-size: 2rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pokemon:hover { 
  color: #2CBB2D;
}