.pokemon-container {
  margin-top: 120px;
}

.pokemon { 
  width: 20%;
  margin: 0 auto;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 2rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.pokemon:hover { 
  color: #2CBB2D;
}